
body, html{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    z-index: -999;
    background-color: #f0f0f0;
}
/*
.navbar{
    width: 100%;
    top: 0 !important;
    margin: 0%;
    background-color: rgb(0, 0, 0, .85);
    z-index: +99999; 
}
.navbar-brand{
    padding: 0% !important;
    margin: 0% !important;
}
nav{
    margin: 0%;
    padding: 1.75% 5% !important;
    position: fixed;
}
.nav-link{
    color: #F57C00 !important;
    font-weight: 700;
    font-size: 1.1rem;
}
*/
.image-container{
    display: flex;
    text-align: center;
    position: relative;
}
#banner{
    width: 100%;
    height: 100vh;
}
.footer{
    width: 100%;
}
.lowerFooter img{
    height: 150px !important;
}
.lowerFooter h3{
    font-weight: 500;
    font-size: 2em;
}
.lowerFooter h5{
    color: #F57C00;
}
.lowerFooter{
    background-color: #222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1% 0%;
}
.lowerFooter a{
    text-decoration: none;
    color: #f7f7f7;
}
.lowerFooter .col-md-4{
    min-width: fit-content;
}
.lowerFooter .container-fluid{
    padding: 0% !important;
    margin: 0% !important;
}
.lowerFooter hr{
    width: 100%;
    border: 1px solid #181818;
}
.fa-2x:hover{
    color: #F57C00;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #222;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(45deg, #ffa400, #F57C00 )
}
.event h1,.event h2,.event h3,.event h4, .event h5, .event h6{
    font-family: 'Poppins', sans-serif;
}
.img-container{
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.event-text-type{
    height: 100vh;
    margin-top: -100vh;
}
.event-text-type h1{
    font-weight: 800;
    font-size: 6vh;
    color: #fff;
    opacity: 1 !important;
}
.event h1{
    font-size: 50px;
    font-weight: 600;
}
.mentor-heading{
    font-weight: 600;
    font-size: 2.5rem;
}
.mentor-pic{
    height: 300px;
    width: 300px;
    border-radius: 0px;
    background: linear-gradient(145deg, #d8d8d8, #ffffff);
    box-shadow:  15px 15px 30px #cccccc, 
             -15px -15px 30px #ffffff;
}
.mentor-overlay{
    height: 300px;
    width: 300px;
    padding-top: 53px;
    padding-left: 250px;
    margin-top: -300px;
}
.mentor-overlay a{
    position: absolute;
    color: #ffffff;
}
.mentor-overlay a:hover{
    color: #f0f0f0;
}
.timeline{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
}
.Day1{
    margin: 20px 50px;
    border-radius: 50%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 40px #d9d9d9, 
             -20px -20px 40px #ffffff;
    height: 200px;
    width: 200px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px !important;
    padding-left: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    background-color: #181818;
    z-index: +9999;
}
header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    float: left;
}
header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;

}
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
}
.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.navlink a :link, .navlink a:visited, .navlink a :hover, .navlink a:active{
    color: #F57C00;
    text-decoration: none;
}
@media screen and (max-width : 1000px){
    .mentor{
        margin: 2%;
    }
    .lowerFooter .col-md-5, .lowerFooter .col-md-2{
        justify-content: center;
        align-items: center;
    }
    header{
        padding: 0 50px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 99px);
        background: #222;
        top:99px;
        left: -100%;
        transition: .5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header nav ul li{
        line-height: 80px;
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: 650;
    }
    header nav ul li a{
        color: #F57C00;
        text-decoration: none;
    }
    .navlink a :hover, .navlink a :focus, .navlink a:active, .navlink a:visited{
        color: #F57C00;
        text-decoration: none;
    }
}

@media screen and (max-width:1000px){
    .mentor{
        margin: 2%;
    }   
}