
body, html{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    z-index: -999;
    background-color: #f0f0f0;
}
#loader{
    width: 100%;
    height: 100vh;
    background: #fff url("../images/loader.gif") no-repeat center;
    position: fixed;
    z-index: +9999;
}
.navbar{
    width: 100%;
    top: 0 !important;
    margin: 0%;
    padding: 0%;
}
.navbar-brand{
    padding: 0% !important;
    margin: 0% !important;
}
nav{
    position: fixed;
    margin: 0%;
    padding: 1.75% 5% !important;
}
.nav-link{
    color: #ffa400 !important;
    font-weight: 500;
}
.carousel{
    margin-top: -14.5vh;
    height: 100vh;
    overflow: hidden;
}
.carousel-overlay{
    background-color: #000;
    height: 100vh;
    margin-top: -100vh;
    opacity: .6;
}
.img-fluid{
    min-height: 35vh !important;
    overflow: hidden;
}
.branding{
    font-weight: 900;
    font-size: 4rem;
    color: #f7f7f7;
    opacity: 1;
}
h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}
p, small, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
}
.row{
    width: 100%;
    padding: 0% !important;
}
.footer{
    width: 100%;
    background-color: aqua;
}
.upperFooter{
    background-color: #333;
    color: #f7f7f7;
    width: 100%;
    padding: 3%;
}

.upperFooter img{
    height: 150px !important;
}
.upperFooter h3{
    font-weight: 500;
    font-size: 2em;
}
.upperFooter h5{
    color: #ffa400;
}
.upperFooter a{
    color: #f7f7f7;
}
.lowerFooter{
    background-color: #222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0% !important;
}
.lowerFooter a{
    text-decoration: none;
    color: #f7f7f7;
}
.fa-2x:hover{
    color: #ffad00;
}
div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.btn, .btn-primary, .btn-primary:hover,.btn-primary:focus,.btn-primary:active, 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
    background-color: #ffa400;
    border: 2px solid #000;
    color: #000 !important;
    border-radius: 5px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #222;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(45deg, #ffa400, #222 )
}
.team{
    width: 60%;
}
.about{
    font-size: 1.125rem !important;
    letter-spacing: 1px;
    font-weight: 400 !important;
}
.about h2, .join h1{
    font-weight: 800;
    font-size: 3em;
}
.quote{
    font-size: 1.2em;
    font-style: italic;
}
.card{
    min-width: 240px;
    background-color: transparent;
    border: 0;
}
.team-member{
    width: 240px;
    height: 320px;
    cursor: pointer;
    z-index: -999 !important;
}
.team-member :hover{
    display: none;
}
.team-member :hover details{
    display: block;
}
.team h1{
    font-weight: 800;
    font-size: 3rem;
}
.name a{
    color: #f7f7f7;
    text-decoration: none;
    outline: none;
}
.details{
    width: 240px;
    height: 60px;
    margin-top: -60px;
    background-color: #000;
    color: #ffa400;
    opacity: .9;
    z-index: +999;
    justify-content: flex-end;
}
.team .col-md-4{
    width: 240px !important;
    padding: 0% !important;
    margin: 0% !important;
}
.slick-prev:before {
    color: #ffa400 !important;
    background-color: #eee;
  }
  .slick-next:before {
    color: #ffa400 !important;
    background-color: #eee;
  }
@media screen and (max-width : 325px){
    .col-md-4{
        width: 240px !important;
        margin: 0% !important;
        padding: 0% !important;
    }
    .team .container{
        width: 100%;
    }
    .team h1{
        font-size: 2rem;
    }
}
@media screen and (max-width : 1025px){
    .team{
        width: 80%;
    }
    .lowerFooter h6{
        font-size: 0.9em;
    }
    nav{
        background-color: #000;
        max-height: fit-content !important;
    }
    .branding{
        font-size: 2rem;
        margin-bottom: 0%;
    }
    .carousel{
        margin-top: 0vh;
        height: 35vh;
    }
    .carousel-overlay{
        height: 35vh;
        margin-top: -35vh;
    }
    nav{
        padding: 5% 8% !important;
    }
}
.program h1{
    font-weight: 800;
    font-size: 3rem;
}