
body, html{
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    z-index: -999;
}
#loader{
    width: 100%;
    height: 100vh;
    background: #fff url("../images/loader.gif") no-repeat center;
    position: fixed;
    z-index: +9999;
}
.navbar-brand img{
    height: 60px !important;
}
.navbar{
    background-color: #000;
    opacity: .89;
    width: 100%;
    position: fixed;
    top: 0 !important;
    height: 15vh;
}
h1,h2,h3,h4,h5{
    font-family: 'Poppins', sans-serif;
}
p, small, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
}
.row{
    width: 100%;
    padding: 0% !important;
}
.footer{
    width: 100%;
    padding: 0% !important;
    margin: 0% !important;
    background-color: aqua;
}
.upperFooter{
    background-color: #333;
    color: #f7f7f7;
    width: 100%;
    padding: 3%;
}
.upperFooter img{
    height: 150px !important;
}
.upperFooter h3{
    font-weight: 500;
    font-size: 2em;
}
.upperFooter h5{
    color: #ffa400;
}
.upperFooter a{
    color: #f7f7f7;
}
.lowerFooter{
    background-color: #222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0% !important;
}
.lowerFooter a{
    text-decoration: none;
    color: #f7f7f7;
}
@media screen and (max-width : 350px){
    .lowerFooter h6{
        font-size: 0.9em;
    }
}
.jumbotron{
    margin-top: 15vh;
    height: 90vh;
    background: url("../images/ranchi.jpg") no-repeat cover;
    width: 100%;
}